body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: cornflowerblue;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#bookshelves {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


#bookshelves div {
    width: 48%;
}

div[data-bookid] {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    margin-top: 0;
}
